.treatments-list {
  width: 100%;
}

.remaining-amount {
  color: var(--error-color);
  font-weight: 600;
  transition: var(--transition-theme);
}

.paid-full {
  color: var(--success-color);
  font-weight: 600;
  transition: var(--transition-theme);
}
